/Users/ancagabrielamunteanu/Documents/node/weather-app/node_modules
/Users/ancagabrielamunteanu/Documents/node/notes-app/node_modules
/Users/ancagabrielamunteanu/Documents/node/web-server/node_modules